LOCATE COMP "hwclk" SITE "P6";
IOBUF PORT "hwclk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "hwclk" 25 MHZ;

LOCATE COMP "led1" SITE "P11";
IOBUF PORT "led1" IO_TYPE=LVCMOS25;

LOCATE COMP "ftdi_tx" SITE "F3";
IOBUF PORT "ftdi_tx" IO_TYPE=LVCMOS25;
